@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Global CSS start*/
.container {
    max-width: 1240px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

p,
a,
span,
strong,
i {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #444343;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
}

.btn-primary {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
}

.btn-primary:hover {
    background-color: transparent;
    color: #fff;
}

.btn-soft-small {
    padding: 7px 15px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    background: #005FAC;
}

.btn-soft-small:hover {
    border: 1px solid #005FAC;
    color: #005FAC;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

/* Global CSS end*/


.header-section {
    background-image: url('../images/banner3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 215px;
    padding-bottom: 215px;
    background-color: #005facb8;
}

.header-section .content {
    text-align: right;
}

.header-section h1.page-heading {
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
    max-width: 500px;
    margin: auto;
    margin-right: 0;
}

.header-section p {
    color: #fff;
    max-width: 500px;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
}

/* failures-section css start */
.failures-section {
    padding: 130px 0;
}

.failures-section .p {
    margin: 15px 0;
}

.failures-section li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.failures-section li i {
    color: #005FAC;
    margin-right: 7px;
}

h2.section-heading {
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.failures-section h2 {
    max-width: 300px;
}

.failures-section .row {
    align-items: center;
}

.failures-section .failures-main {
    width: 46.5%;
}

.failures-section .failures-img-col {
    margin-right: 7%;
}

h3.column-heading {
    font-size: 30px;
    line-height: 35px;
    color: #151414;
}

/* failures-section css end */





/* plans-section css start */
.plans-section .row {
    margin-top: 50px;
}

.plans-section .content {
    width: 25%;
}

.plans-section .inner-content {
    padding: 0 2.5px;
}

.col-p {
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* plans-section css end */



/* always-keep-section css start */
.always-keep-section {
    padding: 80px 0;
}

.always-keep-section {
    padding: 130px 0;
}

.bg_style {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.always-keep-section .bg {
    background-image: url('../images/watch.png');
    border-radius: 8px;
    overflow: hidden;
}

.always-keep-section .content {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;
    padding: 60px;
}

.always-keep-section h2.section-heading {
    color: #FFFFFF;
    max-width: 500px;
    margin-bottom: 25px;
}


/* always-keep-section css end */





/* footer css start */
footer {
    background: #151414;
    padding: 130px 0;
}

footer a,
footer p,
footer h2,
footer i,
footer .col-p,
footer h2.section-heading {
    color: #FFFFFF;
}

footer .left-col {
    width: 70%;
}

footer .right-col {
    width: 30%;
}

footer .right-col form {
    box-sizing: border-box;
}

footer .right-col .input-field {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    box-shadow: none;
    height: 65px;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 15px 0;
}

footer .right-col input:focus {
    outline: none;
}

::placeholder {
    color: #FFFFFF;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #FFFFFF;
}

::-ms-input-placeholder {
    color: #FFFFFF;
}

footer .col-p {
    text-align: left;
}

footer .pp {
    max-width: 500px;
    margin: 15px 0;
}

.mail-phone li {
    margin-bottom: 5px;
}

.social {
    display: flex;
    margin-top: 25px;
}

.social li:not(:last-child) {
    margin-right: 20px;
}

.social a i {
    font-size: 22px;
}

.social a {
    height: 45px;
    width: 45px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.fa-facebook-f {
    color: #006AFF;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-youtube {
    color:
        #FF0000;
}

footer .btn-primary {
    background-color: #005FAC;
    border: 1px solid #005FAC;
    color: #fff;
}

footer .btn-primary:hover {
    border: 1px solid #FFFFFF;
}

/* footer css end */



/* protfolio-grid-section  */
.protfolio-grid-section .section-heading {
    margin-bottom: 50px;
}

.protfolio-grid-section .bg {
    padding-bottom: 130px;
}

.protfolio-grid-section .content {
    border-radius: 10px;
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #ffffff2b;
    width: 31%;
    margin-right: 3.5%;
}

.protfolio-grid-section .content:last-child {
    margin-right: 0;
}

.protfolio-grid-section .content .global-h4 {
    color: #005FAC;
    line-height: 1.3em;
    font-size: 1.3em;
}

.protfolio-grid-section .content p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.protfolio-grid-section .content img {
    width: 100%;
    height: 325px;
    object-fit: cover;
}

.protfolio-grid-section .content .card-body {
    text-align: center;
    padding: 30px;
}